@model IEnumerable<Domain.Models.Acumulado>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<p>
    <a asp-action="Criar">Novo acumulado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoContabil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesAno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoContabil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesAno)
            </td>
            <td>
                <a asp-action="Editar" asp-route-empresaID="@item.EmpresaID" asp-route-acumuladoID="@item.AcumuladoID">Editar</a> |
                <a asp-action="Remover" asp-route-empresaID="@item.EmpresaID" asp-route-acumuladoID="@item.AcumuladoID">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
