@using Aplicativo_Web_Financeiro.Utils

@{ 
    var usuarioLogado = UsuarioLogado.GetInstance();
}

<style>
    .flex-gap {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
    }
</style>

<center style="margin-top: auto">
    <div class="flex-gap">
        <div style="min-width:200px">
            <div class="card">
                <div class="card-header">Acumulados</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "Acumulado", new { EmpresaID = usuarioLogado.EmpresaID })
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card">
                <div class="card-header">Contas</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "Conta", new { GrupoID = 3})
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card  ">
                <div class="card-header">Empresas</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "Empresa")
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card  ">
                <div class="card-header">Grupos</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "Grupo")
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card  ">
                <div class="card-header">Lancamentos Contábeis</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "LancamentoContabil", new { EmpresaID = usuarioLogado.EmpresaID })
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card  ">
                <div class="card-header">Lancamentos Tipos</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "LancamentoTipo")
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card  ">
                <div class="card-header">Planos de Contas</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "PlanoConta", new { EmpresaID = usuarioLogado.EmpresaID })
                </div>
            </div>
        </div>

        <div style="min-width:200px">
            <div class="card  ">
                <div class="card-header">Usuarios</div>
                <div class="card-body">
                    @Html.ActionLink("Listar", "Listar", "Usuario")
                </div>
            </div>
        </div>
    </div>
</center>